<!-- 

<section class="container">
    
    <div>
        <div class="imagen">
        <img src="assets/login.png" alt="">
    </div>
    <div class="ingresar">
    <h2>Ingresar</h2>
    </div>
        <form autocomplete="off"[formGroup]="FormLogin">

            <div class=" email form-floating mail mb-3">
                <i class="far fa-envelope icon"></i>
                <input type="email" class ="form-control" formControlName="email"> 
                 <label for="floatingInput"> Email </label>
                 <span class="form-text text-danger" *ngIf="validacion('email')">
                        No es una direccion valida
                 </span>
                
                 <div class="form-floating mail mb-3">
                     <i class="fas fa-key icon"></i>
                <input type="pass" class ="form-control" formControlName="pass">
                <label for="floatingPassword">Contraseña</label>
                <span class="form-text text-danger" *ngIf="validacion('pass')">
                    La contraseña debe tener al menos 6 caracteres.
                </span>
                </div> 
            </div>
            </form>

                <div >
                    <input (click)="Ingresar()" type="submit" class="button" value="Ingresar">
                </div>
                <div>
                    <input (click)="IngresarConGoogle()" type="image" src="assets/image1.png" class="button1" value="">
                </div>
           
            </div>
</section> -->





<div class="sally">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="rectangle">
            <img src="../../../../assets/Saly-11.png" alt="Saly-11" />
          </div>
        </div>
        <div class="col">
          <div class="login">
            <h1>Ingresar</h1>
            <input type="email" class ="form-control" formControlName="email"> 
            <span class="form-text text-danger" *ngIf="validacion('email')">
                No es una direccion valida
            </span>

            <input type="text" placeholder="Contraseña" />
            <span class="form-text text-danger" *ngIf="validacion('pass')">
                La contraseña debe tener al menos 6 caracteres.
            </span>
            
            <input (click)="Ingresar()" type="submit" class="baseButton" value="Ingresar">
            <div class="rectangle2"></div>
            <h1 id="o">Ó</h1>
            <div class="rectangle3"></div>

            <div class="image1">
                <input (click)="IngresarConGoogle()" type="image" src="assets/image1.png" class="button1" value="">
            </div>  
        </div>
        </div>
      </div>
    </div>
  </div>
  